text {
    font: 16px sans-serif;
    pointer-events: none;
    text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}

#auto {
	width: 100px;
	text-align: center;
}

#petri{
	width: 100px;
	text-align: center;
}

#both{
	/*float: right*/
	text-align: center;
}

#buttons {
	 overflow: hidden;
	
	
}

#files{

}