.link {
    stroke: black;
    stroke-width: 1.5px;
    /*stroke-linecap: round;*/
    fill: none;
}

circle {
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#menu {
	float:left;
	text-align: center;
	padding-left: 10%
}

#pannel {
	float:center;
	text-align: center;
}
