.link .line {
    stroke: black;
    stroke-width: 1.5px;
    fill: none;
}

circle {
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 16px sans-serif;
    pointer-events: none;
    text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}

#state-info {
    position: fixed;
    left: 10%;
    top: 10%;
}

#menu {
	float:left;
	text-align: center;
	padding-left: 10%
}

#pannel {
	float:center;
	text-align: center;
}
