html, body { margin:0; padding:0; overflow:hidden }

text {
    font: 16px sans-serif;
    pointer-events: none;
    text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;
}

div.fullscreen {
    /*position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;*/
		
}

div.left {
    position:fixed;
    top:0;
    left:0;
    width:50%;
    height:100%;
}
div.right {
    position:fixed;
    top:0;
    left:50%;
    width:50%;
    height:100%;
}

div#automata, div#petrinet {
    border: 2px solid green;
}

.line {
    stroke: black;
    stroke-width: 1.5px;
    fill: none;
}

circle {
    stroke: #333;
    stroke-width: 1.5px;
}

p#state-info {
    position: fixed;
    left: 230px;
    top: 2%;
}

#menu {
	float:left;
	text-align: center;
	padding-left: 10%
}

div.petri-controls {
    /*position: absolute;*/
    left: 0;
    top: 0;
}

d3-tip {
	line-height: 1;
	color: black;
}
/*#auto {*/
	/*width: 100px;*/
	/*float: right*/
/*}*/

/*#petri{*/
	/*width: 100px;*/
	/*float: right*/
/*}*/

/*#both{*/
	/*float: right*/
/*}*/

#buttons {
	 overflow: hidden;
}
